@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="text-center">Danh Sách Danh Mục</h2>

<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Tên loại</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.Categories != null)
        {
            foreach (var category in ViewBag.Categories)
            {
                <tr>
                    <td>@category.tenLoai</td>
                    <td>
                        <a href="@Url.Action("DetailCategory", "Category", new { id = category.id })" class="btn btn-sm btn-primary">Chi tiết</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr><td colspan="6" class="text-center">Không có dữ liệu</td></tr>
        }
    </tbody>
</table>

